body{
  background: linear-gradient(90deg, #F7DE82, rgb(250, 213, 51));
}

.App {
  margin: auto;
  margin-top: 5%;
  display: flex;
  text-align: center;
  flex-direction: column;
  width: 70%;
  height: 50%;
  
  
}

.buttondiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;

}

.button{
  margin: 5%;
  width: 15%;
  height: 50px;
  background-color: rgb(161, 161, 194);
  border: 1px solid black;
  border-radius: 10%;
  color: rgb(0, 0, 0);
  font-size: 1.2em;
  font-weight: 500;
  font-family: italic;
  cursor: pointer;
}

.input{
  border: 1px solid rgb(178, 189, 30);
  height: 30px;
  border-radius: 2%;
  width: 50%;
  margin: auto;
}
  

.datalist{
  border: 1px solid rgb(178, 189, 30);
  color: rgb(61, 133, 196);
  border-radius: 2%;
  width: 50%;
  margin: auto;
}

.autocompleteUL li{
  color: black;
}